Repository bleucitron/open-books: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

"**/*.{svelte,ts,js,json}":
  - prettier --write
"**/*.{js,ts,svelte}":
  - eslint --fix

fix: remove year link container class, fix #195
  src/routes/budgets/_components/Year.svelte
Due: prettier --write, eslint --fix

fix: set type store value after goto to allow interactivity while loading
  src/routes/budgets/_components/Summary.svelte
Due: prettier --write, eslint --fix

style: better header on error page
  src/lib/Header.svelte
Due: prettier --write, eslint --fix

feat: add menu on Search
  src/lib/Search.svelte
  src/routes/budgets/__layout@root.svelte
Due: prettier --write, eslint --fix

feat: history and favorites menu working
  src/interfaces.ts
  src/lib/FavoriteToggle.svelte
  src/lib/Search.svelte
  src/lib/Suggestions.svelte
  src/routes/_utils.ts
  src/routes/budgets/__layout@root.svelte
  src/routes/index.svelte
  static/style.css
Due: prettier --write, eslint --fix

fix(budgets): update title correctly
  src/routes/budgets/__layout@root.svelte
Due: prettier --write, eslint --fix

fix(budgets): redirect to existing siret if currentSiret has no budget
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

refactor: change favorite toggle icon
  src/lib/FavoriteToggle.svelte
Due: prettier --write, eslint --fix

style: change grey-dark color
  src/styles/_colors.sass
Due: none

fix(exp|profile): fix domain selection
  src/lib/FavoriteToggle.svelte
  src/lib/Icon.svelte
Due: prettier --write, eslint --fix

fix: provide handleSelection with data, and fix history for siret
  src/lib/Search.svelte
  src/routes/budgets/__layout@root.svelte
  src/routes/index.svelte
Due: prettier --write, eslint --fix

refactor: change search menu to inline layout, fix #172
  src/lib/Search.svelte
  src/routes/budgets/__layout@root.svelte
  src/styles/_colors.sass
Due: prettier --write, eslint --fix

feat: add favorite deletion
  src/lib/Search.svelte
  src/lib/Suggestions.svelte
Due: prettier --write, eslint --fix

perf: add cityCache
  src/api/geo.ts
Due: prettier --write, eslint --fix

chore: update kit
  package-lock.json
  package.json
Due: prettier --write

fix: do not clearSearch when closing History or Favs, fix #200
  src/lib/Search.svelte
Due: prettier --write, eslint --fix

fix: prevent navigating on fav remove, fix #199
  src/lib/Search.svelte
Due: prettier --write, eslint --fix

style: fix favs icon styling
  src/lib/Icon.svelte
  src/lib/Search.svelte
Due: prettier --write, eslint --fix

style: better favs icon position
  src/lib/FavoriteToggle.svelte
  src/routes/budgets/__layout@root.svelte
Due: prettier --write, eslint --fix

style: adjust transitions
  src/lib/Search.svelte
  src/lib/Suggestions.svelte
  src/routes/budgets/_components/Labels.svelte
Due: prettier --write, eslint --fix

style: searchbar styling and animations
  src/lib/Search.svelte
  src/lib/Suggestions.svelte
  src/routes/budgets/__layout@root.svelte
Due: prettier --write, eslint --fix

fix: add sublabel for all city suggestions
  src/lib/Suggestions.svelte
Due: prettier --write, eslint --fix

fix: set label transition local
  src/routes/budgets/_components/Labels.svelte
Due: prettier --write, eslint --fix

fix: do not reset budgetById ref when changing siret, fix #196
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

docs: edited readme, fix #187
  .env-sample
  README.md
  roadmap.md
Due: none

docs: edited about
  src/docs/about.md
Due: none

feat: add text to nav items
  src/lib/Header.svelte
Due: prettier --write, eslint --fix

docs: add not responsive mention
  src/docs/about.md
Due: none

chore: release 1.0.0-0
  package-lock.json
  package.json
Due: prettier --write

fix: display getSiretsFromInsee errors
  src/api/siren.ts
Due: prettier --write, eslint --fix

fix: add autofocus to Search
  src/lib/Search.svelte
  src/routes/index.svelte
Due: prettier --write, eslint --fix

fix(budgets): avoid infinite redirection if no siret
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

chore: release 1.0.0-1
  package-lock.json
  package.json
Due: prettier --write

refactor: display cleaner labels
  src/routes/budgets/_components/Labels.svelte
  src/utils/misc.ts
Due: prettier --write, eslint --fix

fix: fill nomenById cache only client-side
  src/api/budget.ts
Due: prettier --write, eslint --fix

fix: use <a> in <Donut>, fix #205
  src/routes/budgets/_components/DebitOrCredit.svelte
  src/routes/budgets/_components/Donut.svelte
  src/routes/budgets/_components/Summary.svelte
Due: prettier --write, eslint --fix

chore: release 1.0.0
  package-lock.json
  package.json
Due: prettier --write

feat: add 2021
  src/api/utils/budget.ts
Due: prettier --write, eslint --fix

clean: Minor README.md enhancements
  README.md
Due: none

chore: updated svelte, sk, remove storybook and cleaned vulns
  package-lock.json
  package.json
Due: prettier --write
