Repository bleucitron/open-books: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add .editorconfig
  .editorconfig
Due: none

fix: fix typings and lint errors
  .eslintrc.cjs
  package-lock.json
  package.json
  src/api/budget.ts
  src/api/geo.ts
  src/api/siren.ts
  src/api/utils/budget.ts
  src/api/utils/siren.ts
  src/api/utils/verbs.ts
  src/interfaces.ts
  src/routes/__error.svelte
  src/routes/budgets/_components/Labels.svelte
  src/routes/budgets/_components/Summary.svelte
  src/routes/budgets/_components/ValueTree.svelte
  src/routes/budgets/_components/Year.svelte
  src/routes/budgets/index.svelte
  src/routes/home/_components/Search.svelte
  src/routes/home/index.svelte
  src/stores/fonction.ts
  src/stores/tree.ts
  src/utils/budget.ts
  src/utils/misc.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: add aliases
  src/api/budget.ts
  src/api/geo.ts
  src/api/siren.ts
  src/api/utils/budget.ts
  src/api/utils/siren.ts
  src/interfaces.ts
  src/routes/__layout.svelte
  src/routes/about.svelte
  src/routes/budgets/_components/Bar.svelte
  src/routes/budgets/_components/Chart.svelte
  src/routes/budgets/_components/Csv.svelte
  src/routes/budgets/_components/DebitOrCredit.svelte
  src/routes/budgets/_components/Labels.svelte
  src/routes/budgets/_components/Summary.svelte
  src/routes/budgets/_components/ValueTree.svelte
  src/routes/budgets/_components/Year.svelte
  src/routes/budgets/index.svelte
  src/routes/home/_components/Search.svelte
  src/routes/home/_components/Suggestions.svelte
  src/routes/home/index.svelte
  src/stores/budget.ts
  src/stores/city.ts
  src/stores/code.ts
  src/stores/fonction.ts
  src/stores/tree.ts
  src/utils/budget.ts
  src/utils/misc.ts
  svelte.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

docs: update docs
  README.md
Due: none

feat: add buildNomen function
  src/routes/budgets/_components/Summary.svelte
  src/utils/index.ts
  src/utils/nomen.ts
Due: prettier --write, eslint --fix

chore: add Storybook and basic stories
  .eslintignore
  .storybook/main.cjs
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/svelte.config.cjs
  package-lock.json
  package.json
  src/stories/Button.stories.svelte
  src/stories/Button.svelte
  src/stories/Path.stories.svelte
  src/stories/button.css
Due: prettier --write, eslint --fix

clean: remove useless ValueTree
  src/routes/budgets/_components/ValueTree.svelte
Due: prettier --write, eslint --fix

chore: add basic unit testing configuration
  package-lock.json
  package.json
  src/utils/misc.test.ts
  src/utils/misc.ts
Due: prettier --write, eslint --fix

chore: remove BOOK env variable
  package.json
Due: prettier --write

chore: release 0.1.9
  package-lock.json
  package.json
Due: prettier --write

docs: fix budget link in readme
  README.md
Due: none

fix: debit or crebit by default
  .gitignore
  src/routes/budgets/_components/Summary.svelte
Due: prettier --write, eslint --fix

refactor: use feather-icons as static icons instead of font-awesome
  src/app.html
  src/routes/_components/Icon.svelte
  src/routes/_components/Nav.svelte
  src/routes/budgets/_components/Bar.svelte
  src/routes/budgets/_components/Csv.svelte
  src/routes/budgets/_components/Path.svelte
  src/routes/budgets/_components/Year.svelte
  src/routes/budgets/index.svelte
  src/routes/home/_components/Search.svelte
  src/routes/icons.svelte
  static/feather-sprite.svg
Due: prettier --write, eslint --fix

refactor: move generic components to lib
  src/lib/GoogleAnalytics.svelte
  src/lib/Icon.svelte
  src/lib/Nav.svelte
  src/lib/Spinner.svelte
  src/routes/__layout.svelte
  src/routes/budgets/_components/Bar.svelte
  src/routes/budgets/_components/Csv.svelte
  src/routes/budgets/_components/Labels.svelte
  src/routes/budgets/_components/Path.svelte
  src/routes/budgets/_components/Summary.svelte
  src/routes/budgets/_components/Year.svelte
  src/routes/budgets/index.svelte
  src/routes/home/_components/Search.svelte
  src/routes/home/_components/Suggestions.svelte
  src/routes/icons.svelte
Due: prettier --write, eslint --fix

chore: fix storybook access to static and $lib
  .storybook/svelte.config.cjs
  package.json
Due: prettier --write

feat: debut favoris
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

feat: favoris terminé
  src/interfaces.ts
  src/lib/Favorites.svelte
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

test: test geo.ts functions
  .gitignore
  src/api/utils/geo.test.ts
  src/api/utils/geo.ts
  src/routes/home/index.svelte
Due: prettier --write, eslint --fix

feat: version 1 de la gestion keyboard dans la list ville
  src/routes/home/_components/Search.svelte
  src/routes/home/_components/Suggestions.svelte
  src/routes/home/index.svelte
Due: prettier --write, eslint --fix

feat: add footer
  src/lib/Footer.svelte
  src/lib/Nav.svelte
  src/routes/__layout.svelte
  src/routes/budgets/_components/Summary.svelte
Due: prettier --write, eslint --fix

fix: size version
  src/routes/budgets/_components/Summary.svelte
Due: prettier --write, eslint --fix

fix: add rel noopener noreferer
  src/lib/Footer.svelte
  src/lib/Nav.svelte
Due: prettier --write, eslint --fix

style: changement style popup favoris
  src/lib/Favorites.svelte
Due: prettier --write, eslint --fix

test(geo): provide null as empty value
  src/api/utils/geo.test.ts
Due: prettier --write, eslint --fix

chore(commitlint): remove scope-case rule
  .commitlintrc
Due: none

feat: ajout dropdown param
  src/lib/Favorites.svelte
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

Budget-Refresh
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

Budget Refresh fix
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

refactor: make budgetPs interactive
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

feat: ajout de la gestion de la liste de ville via le clavier
  src/routes/home/_components/Search.svelte
  src/routes/home/_components/Suggestions.svelte
  src/routes/home/index.svelte
Due: prettier --write, eslint --fix

feat: new component (PieChartBudget)
  package-lock.json
  package.json
  src/interfaces.ts
  src/routes/budgets/_components/PieChartBudget.svelte
  src/stories/PieChartBudget.stories.svelte
Due: prettier --write, eslint --fix

fix: conflict gitignore and removed popper.js
  package.json
Due: prettier --write

feat: update après review
  src/routes/home/_components/Suggestions.svelte
Due: prettier --write, eslint --fix

test: test budget.ts functions
  src/api/utils/budget.test.ts
Due: prettier --write, eslint --fix

refactor: add budget cache
  src/routes/budgets/_components/Summary.svelte
  src/routes/budgets/index.svelte
Due: prettier --write, eslint --fix

fix: modification de la function makeNomenEndpoint() et update du test
  src/api/utils/budget.test.ts
  src/api/utils/budget.ts
Due: prettier --write, eslint --fix

test: ajout de la function makeNomenId() + les tests
  src/utils/budget.test.ts
  src/utils/budget.ts
Due: prettier --write, eslint --fix

fix: disable click on current siret
  src/routes/budgets/_components/Labels.svelte
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{svelte,ts,js,json}
  eslint --fix: any of: **/*.{js,ts,svelte}
